body {
    min-height: 100vh;
    background-color: rgb(6, 18, 30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}