* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 12, 6);
}

body:has(#workerFunctionBodyCss) {
  background-color: rgb(6, 18, 30);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  min-height: 15vh;
  background-color: #06121ed9;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 350ms 100ms ease-in-out;
}

.header-red-color {
  background-color: rgba(30, 12, 6, 0.9);
}

header h2 {
  color: #D7D1E9;
  font-size: 3rem;
  scale: 0;
  transform: translateX(-500px);
  transition: all 500ms 0ms ease-in-out;
}

header .titleOpen {
  scale: 1;
  transform: translateX(0);
}

header #sectionHud {
  font-size: 2.5rem;
  color: #D7D1E9;
  cursor: pointer;
  transition: all 250ms 50ms ease-in-out;
}

header #sectionHud:hover {
  color: #e7e0fe;
  scale: 1.1;
}

header #sectionHud .material-symbols-outlined {
  scale: 2;
  transition: all 250ms 50ms ease-in-out;
}

header #sectionHud:hover .material-symbols-outlined {
  scale: 2.2;
  transform: translateY(2px);
  color: #f2edff;
}

header .navBar {
  display: none;
  position: absolute;
  top: 80%;
  border-radius: 4px;
  right: 4rem;
  background-color: #D7D1E9;
  color: rgb(30, 12, 6);
  padding-top: 10px;
  /* width: 120px; */
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: solid rgb(88, 88, 90) 1px;
  z-index: 99999;
}

@media (max-width: 1000px) {
  header .navBar {
    width: 120px;
  }
}

header .navBar::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #D7D1E9;
  border-left: solid rgb(88, 88, 90) 1px;
  border-top: solid rgb(88, 88, 90) 1px;
}

header .navBar__open {
  display: flex;
}

header .navBar a {
  color: #393B43;
  text-decoration: none;
  display: block;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: #393B43 solid 2px;
  text-align: center;
}

header .navBar a:hover {
  color: #4a4d58;
  font-weight: bold;
}

@media (min-width: 1000px) {
  header .navs {
    display: flex;
    gap: 10px;
  }

  header #sectionHud:hover .material-symbols-outlined {
    scale: 2.2;
    transform: translateY(0);
    color: #f2edff;
    transform: rotate(-90deg);
  }

  header .navs:has(.navBar__open) #sectionHud .material-symbols-outlined {
    transform: rotate(-90deg);
  }

  header .navBar {
    position: static;
    flex-direction: row;
    background-color: none;
    border: none;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    scale: 0;
    transition: all 300ms 20ms ease-in-out;
  }

  header .navBar::before {
    content: none;
  }

  header .navBar__open {
    display: flex;
    scale: 1;
  }

  header .navBar a {
    padding-bottom: 0;
    border-bottom: none;
    color: #D7D1E9;
    transition: all 200ms 50ms ease-in-out;
    font-size: 1.5rem;
  }

  header .navBar a:hover {
    font-weight: normal;
    border-bottom: solid 2px #393B43;
  }
}

.hero {
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%,
      rgba(6, 18, 30, 1) 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./assets/images/imagemHero.jpg);
  /* background-position: center; */
  min-height: 85vh;
  background-position: center top;
  background-size: cover;
  color: white;
  background-color: #000;
  z-index: 1;
  position: relative;
  transition: all 1000ms 100ms ease-in-out;
}

.hero-image1 {
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(6, 18, 30, 1) 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./assets/images/imagem4Corte.jpg);
  background-position: center;
  background-size: cover;
  transition: all 1000ms 100ms ease-in-out;
}

.hero-image2 {
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(6, 18, 30, 1) 100%),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(./assets/images/imagem5Corte.jpg);
  background-position: center;
  background-size: cover;
  transition: all 1000ms 100ms ease-in-out;
}

.hero .texts,
.hero .button-hero {
  min-height: 42.5vh;
  display: flex;
  align-items: end;
}

.hero .texts__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.hero .texts__content h1 {
  width: 250px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero .texts__content h1 span {
  display: block;
  width: 100%;
  text-align: end;
}

.hero .texts__content h1 .studio__h1 {
  text-align: start;
}

.hero .texts__content h1 .beleza__h1 {
  text-align: end;
}

.hero .button-hero {
  justify-content: center;
  align-items: center;
}

.hero .button-hero a {
  color: white;
  position: relative;
  background-color: #bc1d1d;
  text-decoration: none;
  padding: 9px 11px;
  font-size: 1.9rem;
  border-radius: 5px;
  transition: scale 1s 50ms;
  z-index: 1;
}

.hero .button-hero a:hover {
  scale: 1.05;
}

@media (max-width: 668px) {
  header h2 {
    font-size: 2rem;
  }

  .hero .texts .texts__content {
    width: 100%;
  }

  .hero .texts .texts__content h1,
  .hero .texts .texts__content h2 {
    scale: .9;
  }
}

@media (max-width: 500px) {
  header h2 {
    font-size: 1.8;
  }

  header #sectionHud {
    font-size: 2rem;
  }

  header #sectionHud .material-symbols-outlined {
    scale: 1.5;
  }

  header #sectionHud:hover .material-symbols-outlined {
    scale: 1.7;
  }
}

#sobre {
  height: 115vh;
  position: relative;
  z-index: 2;
  background-color: #000;
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgb(30, 12, 6) 100%),
    linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 40%,
      rgba(6, 18, 30, 1) 100%),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(./assets/images/imagem2Maquinihas.jpg);
  background-size: cover;
}

#sobre .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#sobre .container h2 {
  color: white;
  font-size: 2.5rem;
  /* margin-bottom: 25px; */
}

#sobre .container .box {
  height: 70%;
  padding: 30px;
  display: flex;
}

#sobre .container .box .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

#sobre .container .box .image img {
  height: 100%;
  box-shadow: -3px 4px 10px 6px #000;
  border-radius: 20px;
}

#sobre .container .box .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#sobre .container .box .text p {
  color: white;
  width: 80%;
  font-size: 1.5rem;
  line-height: 30px;
}

@media (max-width: 1120px) {
  #sobre {
    height: auto;
    min-height: 115vh;
  }

  #sobre .container .box {
    flex-direction: column;
    gap: 30px;
  }

  #sobre .container .box .image,
  #sobre .container .box .text {
    width: 100%;
  }

  #sobre .container .box .image img {
    width: 60%;
    height: auto;
  }

  #sobre .container .box .text p {
    width: 100%;
  }
}

#workers {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 21, 11);
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 100%);
}

#workers .box {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#workers .box .cards__workers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

#workers .box .cards__workers .worker__card {
  width: 30%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 15px 8px #000;
  background-color: rgb(51, 21, 11);
  transition: scale 1s 50ms ease-in-out;
  color: white;
  text-decoration: none;
}

#workers .box .cards__workers .worker__card:hover {
  scale: 1.02;
}

#workers .box .cards__workers .worker__card img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

#workers .box .cards__workers .worker__card .texts {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#workers .box .cards__workers .worker__card h2 {
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 930px) {
  #workers .box .cards__workers {
    flex-direction: column;
    gap: 20px;
  }

  #workers .box .cards__workers .worker__card {
    width: 60%;
  }
}

@media (max-width: 648px) {
  #workers .box .cards__workers .worker__card {
    width: 90%;
  }
}

#workerFunctionBodyCss {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  min-height: 85vh;
  padding: 10px;
}

#workerFunctionBodyCss .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#workerFunctionBodyCss .container .image__worker {
  width: 50%;
}

#workerFunctionBodyCss .container .image__worker img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 2px 9px 7px black;
}

#workerFunctionBodyCss .container .texts {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 65%;
  padding: 10px;
  text-align: justify;
  font-size: 0.9rem;
}

#workerFunctionBodyCss .container .texts h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#services {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #dbdbdb;
}

#services .box {
  position: relative;
  margin-bottom: 50px;
}

#services .box h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

#services .box button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  padding: 6px 9px;
  border: none;
  background-color: rgb(14, 48, 83);
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: scale 220ms 80ms ease;
}

#services .box button:hover {
  scale: 1.08;
}

#services .box:has(.open--services) button {
  display: none;
}

#services .box .container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

#services .box .container:has(.open--services) {
  -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
}

#services .box .container .cards__services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

#services .box .container .open--services {
  overflow: visible;
  height: auto;
  min-height: 80vh;
}

#services .box .container .cards__services .service__card {
  min-height: 500px;
  width: 60%;
  background-color: #1d1d1d;
  border-radius: 10px;
  box-shadow: 0 4px 15px 8px #000;
  transition: scale 900ms 40ms ease-out;
}

#services .box .container .open--services .service__card:hover {
  scale: 1.08;
}

#services .box .container .cards__services .service__card .image img {
  width: 100%;
  border-radius: 10px;
}

#services .box .container .cards__services .service__card .texts {
  padding: 10px;
  text-align: justify;
}

#services .box .container .cards__services .service__card .texts .preco {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
}

#address .container iframe {
  border: none;
  width: 100%;
}

.voltarHome {
  position: absolute;
  top: 0;
  left: 10px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 2rem;
  transition: scale 300ms 20ms ease-in-out, border-bottom 100ms 80ms ease;
}

.voltarHome:hover {
  scale: 1.04;
  border-bottom: 2px solid white;
}

@media (max-width: 1170px) {
  #services .box .container .cards__services {
    grid-template-columns: 1fr;
  }

  #services .box .container .cards__services .service__card:hover {
    scale: 1.02;
  }
}

footer {
  min-height: 15vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}